.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.container > .videoElement {
  max-width: 500px;
}

.container > .play {
  margin-left: 40px;
}

.container > .duration {
  color: #fff;
  width: 80px;
  font-size: 14px;
  text-align: right;
}
